{% extends 'base.html'%}

{% block con%}

<div class="container mt-5 mc-5">
    <h1><b>투표소</b></h1>

    <div class="text-end">
        <a class="btn btn-dark btn-lg" href="{%url 'vote:create'%}" >Topic 생성</a>
    </div>

    
    <divc class="row">

         {%for i in tset%}
         
         <div class="col-lg-4 mt-5">
            <div class="card" >
                <img src="{{i.maker.getpic}}" class="card-img-top" alt="...">
                <div class="card-body text-center" {% if user in i.voter.all%} style="background-color: antiquewhite;"{%endif%}> <!--user들의 레코드를 봐야하기 때문에 -->
                  <h5 class="card-title">{{i.subject}}</h5>
                  <p class="card-text">{{i.summary}}</p>
                  <a href="{% url 'vote:detail' i.id%}" class="btn btn-primary">{% if user in i.voter.all%} 결과보기{%else%}투표하기{%endif%}</a>
                
                  {%if user == i.maker %}
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#topic{{forloop.counter}}"> <!--# 붙으면 아이디라고 생각하면 된다. -->
                      토픽삭제                                                                              <!---->
                  </button>
                  {%endif%}
                </div>
              </div>
          </div>    
         {% endfor %}
    </div>
</div>

{%for i in tset%}
  <div class="modal fade" id="topic{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">쥔짜 삭제 할거야?...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <b>{{i.voter.count}}</b> 명의 투표 참여자가 있습니다. <br>
              그래도 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="{%url 'vote:delete'  i.id%} ">삭제</a>
        </div>
      </div>
    </div>
  </div>
{%endfor%}

{% endblock%}